* {
  all: unset;
  font-family: "Hack Nerd Font";
  font-size: 1.01em;
}

@import "colors.scss";

.main-box {
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
  background-color: $bg;
}

.music-box,
.volume-box,
.brightness-box,
.battery-box,
.time-box {
  border-radius: 5px;
  margin: 0px 5px 0px 5px;
  padding: 1px 5px 1px 5px;

}

.music-box {
  background-color: $blue;
}

.volume-box {
  background-color: $red;
}

.brightness-box {
  background-color: $yellow;
}

.battery-box {
  background-color: $green;
}

.time-box { 
  background-color: $cyan;
}

.txt {
  color: $black;
}

.glyph {
  padding-right: 10px;
}
